<footer class="container-fluid" styly="margin-top: 100px;">
    <p class="text-center"> Copyright ©2017 <br>
        Design by <a href="https://www.facebook.com/davegle" target=_new> Justin Ng
    </p>
</footer>
